/* Основные стили */
body {
    background: #dddddd; /* Цвет фона */
    color: rgb(34, 34, 34); /* Цвет текста */
    font-family: Arial, sans-serif; /* Шрифт */
    font-size: 14px; /* Размер шрифта */
    margin: 0;
    padding: 0;
}

/* Шапка */
#header {
    display: flex; /* Используем flexbox для размещения элементов внутри шапки */
    align-items: center; /* Выравниваем элементы по вертикали */
    background-color: #666;
    border-radius: 10px; /* Скругляем углы на 10 пикселей */
    box-sizing: border-box; /* Учитывать padding и border в общей ширине */
}

/* Логотип */
#logo {
    max-width: 50px; /* Максимальная ширина логотипа */
    margin-right: 10px; /* Добавляем небольшой отступ между логотипом и текстом */
    padding-left: 10px;
}

/* Текст в шапке */
#header-text {
    flex-grow: 1; /* Растягиваем текстовый блок, чтобы он занимал оставшееся пространство */
}

#header-text h1 a {
    text-decoration: none; /* Убираем подчеркивание */
    color: inherit; /* Наследуем цвет текста от родительского элемента */
}

#header-text h1 a:hover {
    color: inherit; /* При наведении оставляем цвет как у родительского элемента */
}

/* Контейнер */
#container {
    background: #dddddd; /* Цвет фона */
    margin: 0 auto; /* Внешние отступы (автоматические слева и справа) */
    text-align: center; /* Выравнивание текста по центру */
    width: 80%; /* Ширина блока */
    height: auto; /* Высота блока */
}

/* Навигационное меню */
#navigation {
    background: #666; /* Цвет фона */
    width: auto; /* Ширина блока */
    height: 50px; /* Высота блока */
    margin: 5px auto;
    border-radius: 10px;
    box-sizing: border-box; /* Учитывать padding и border в общей ширине */
}

#navigation ul {
    list-style-type: none; /* Удаляем маркеры списка */
    padding: 15px;
    margin: 5px;
}

#navigation ul li {
    display: inline; /* Располагаем пункты меню в строку */
    margin-right: 20px; /* Добавляем небольшой отступ между пунктами */
}

#navigation ul li a {
    text-decoration: none; /* Удаляем подчеркивание у ссылок */
    color: rgb(0, 0, 0); /* Устанавливаем цвет текста */
    font-weight: bold; /* Устанавливаем жирный шрифт */
}

#navigation ul li a:hover {
    color: #ff0000; /* Изменяем цвет текста при наведении курсора мыши */
}

/* Боковая панель */
#sidebar {
    background: #ccc; /* Цвет фона */
    width: 19%; /* Ширина блока */
    height: auto; /* Высота блока */
    float: left; /* Выравнивание по левому краю */
    text-align: left;
    border-radius: 10px;
    margin: 0 auto;
    box-sizing: border-box; /* Учитывать padding и border в общей ширине */
}

#sidebar ul {
    list-style-type: none; /* Удаляем маркеры списка */
}

#sidebar ul li a {
    text-decoration: none; /* Убираем подчеркивание */
    color: rgb(0, 0, 0);
}

#sidebar ul li a:hover {
    color: red;
}

#sidebar h5 {
    text-decoration: none; /* Убираем подчеркивание */
    color: rgb(0, 0, 0); /* Изменяем цвет на черный */
}

/* Контент */
#content {
    background: rgba(179, 179, 179, 0.5); /* Цвет фона */
    width: 80%; /* Ширина блока */
    height: auto; /* Высота блока */
    float: right; /* Выравнивание по правому краю */
    border-radius: 10px;
    text-align: left; /* Выравнивание текста по левой стороне */
    padding: 15px; /* Отступ от внутренних границ блока */
    box-sizing: border-box; /* Учитывать padding и border в общей ширине */
}

/* Внедренный контент */
#content iframe {
    border-radius: 10px;
    border: 2px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    margin-top: 20px;
}

/* Цитаты */
blockquote {
    font-style: italic;
    border-left: 4px solid rgb(231, 192, 192);
    margin-left: 0;
    padding-left: 1em;
}

blockquote p {
    margin: 0;
}

/* Изображения */
#image {
    text-align: center; /* Центрирование изображения по горизонтали */
}

#image img {
    border-radius: 10px; /* Радиус скругления углов */
}

/* Футер */
#footer {
    background: #333; /* Цвет фона */
    width: 100%; /* Ширина блока */
    height: auto; /* Высота блока */
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box; /* Учитывать padding и border в общей ширине */
}

#footer p {
    color: #ccc;
}

/* Очистка */
#clear {
    clear: both; /* Запрещает обтекание элемента слева и справа */
}

/* Стили для контактов */
.contact {
    display: inline-block;
    margin-right: 20px;
}

.contact img {
    border-radius: 50%;
    width: 100px; /* Выберите желаемую ширину */
    height: 100px; /* Выберите желаемую высоту */
}

.contact a {
    text-align: center;
    text-decoration: none; /* Удаляем подчеркивание у ссылок */
    color: rgb(0, 0, 0); /* Устанавливаем цвет текста */
}

.contact a:hover {
    color: red;
}
